body {
    padding: 30px;
}
header {
    background: lightgreen;
}
section {
    background: lightblue;
    width: 75%;
    float: left;
}
article {
    background: white;
    margin: 0 0 1rem 0;
}
aside {
    background: salmon;
    width: 25%;
    float: right;
}
header, article, section, .sidebar {
    padding: 1rem;
    box-sizing: border-box;
}